[Desktop Entry]
Name=Restart to Windows
Comment=Restart to Windows via UEFI
Exec=/home/john/.local/bin/dev.johnl.windows.sh
Icon=/home/john/.local/share/applications/windows.png
Terminal=false
Type=Application
Categories=System;
